// Footer
footer {
  text-align: center; 
  font-size: 14.4px;
  background-color: $footer-bg;
  color: $primary-color;
  padding: $padding-base;
  display: flex;   

  p {
    margin: 0;
  }

  a {
    font-weight: bold;
    color: $primary-color;
  }
}